<div class="card flex justify-center">
  <!-- Hidden file input -->
  <input 
    type="file" 
    #fileInput 
    (change)="onFileSelected($event)"
    accept="image/*"
    style="display: none;"
  />
  
  <div class="text-box-container" style="width: 98%;">
    <!-- Toolbar (only show if not disabled) -->
    <div class="toolbar" *ngIf="!disabled">
      <p-button 
        icon="pi pi-image" 
        label="Attach Image"
        size="small"
        severity="secondary"
        (onClick)="triggerFileInput()"
      ></p-button>
    </div>

    <!-- Rich text editor -->
    <div 
      class="rich-editor"
      #contentEditor
      [contentEditable]="!disabled"
      (input)="onContentChange()"
      (keydown)="onKeyDown($event)"
      (click)="updateCursorPosition()"
      (keyup)="updateCursorPosition()"
      [attr.placeholder]="disabled ? '' : 'Type your message here...'"
      [style.background-color]="disabled ? 'rgb(234,234,234)' : 'white'"
      [style.color]="'black'"
    >
    </div>
  </div>
</div>