.dashboard-layout {
  display: flex;
}

.request-card {
  background-color: #ececec;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0px 5px 5px #D8DADC;
  color: #121212;
  max-width: 30%;
}

/* Sidebar */
app-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #121212;
  box-shadow: 2px 0 6px rgba(0,0,0,0.1);
  z-index: 1000;
  overflow-y: auto;
}

/* Main content */
.main-wrapper {
  margin-left: 200px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

/* Responsive sidebar */
@media (max-width: 768px) {
  app-sidebar {
    position: absolute;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  app-sidebar.open {
    transform: translateX(0);
  }

  .main-wrapper {
    margin-left: 0;
  }
}
/* src/app/components/help/help.css */
.no-tasks {
  margin: 2rem;
  text-align: center;
  color: #555;
  font-style: italic;
  font-size: 1.1rem;
}

